 <h2 class="page-heading">Data Grid</h2>

 <ejs-grid #grid [dataSource]='data' [allowPaging]='true' [allowSorting]='true' [pageSettings]='pageSettings'
   [editSettings]='editSettings' [toolbar]='toolbar' (actionComplete)="actionComplete($event)">
   <e-columns>
     <e-column field='OrderID' headerText='Order ID' width='120' textAlign='Left' isPrimaryKey='true'
       [validationRules]='orderidrules'></e-column>
     <e-column field='CustomerID' headerText='Customer ID' width='120' textAlign='Left'
       [validationRules]='customeridrules'></e-column>
     <e-column field='Freight' headerText='Freight' width='120' format='C2' textAlign='Left' editType='numericedit'
       [validationRules]='freightrules'></e-column>
     <e-column field='OrderDate' headerText='Order Date' width='130' type='date' format='yMd' editType='datepickeredit'
       textAlign='Left'></e-column>
     <e-column field='ShipCountry' headerText='Ship Country' width='150' editType='dropdownedit' [edit]='editparams'>
     </e-column>
     <e-column headerText='Manage Records' width='160' [commands]='commands'></e-column>
   </e-columns>
 </ejs-grid>
