 <h2 class="page-heading">Charts</h2>

 <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='title'
   [tooltip]='tooltip'>
   <e-series-collection>
     <e-series [dataSource]='chartData' type='Line' xName='CustomerID' yName='Freight' [marker]='marker'></e-series>
   </e-series-collection>
 </ejs-chart>
