<header>
  <h2>SyncFusion Demo</h2>
  <ul>
    <li><a [routerLink]="[ '/data-grid' ]" routerLinkActive="active">Data Grid</a></li>
    <li><a [routerLink]="[ '/pivot' ]" routerLinkActive="active">Pivot</a></li>
    <li><a [routerLink]="[ '/charts' ]" routerLinkActive="active">Charts</a></li>
  </ul>
</header>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
