 <h2 class="page-heading">Pivot Table</h2>
 <div id="pivot-table-section">
   <ejs-pivotview #pivotview id='PivotView' [dataSourceSettings]=dataSourceSettings showGroupingBar='true'
     showFieldList='true' width='100%' height='450' [gridSettings]='gridSettings'>
   </ejs-pivotview>
 </div>
