/*==========================================================================
=> Material CSS
==========================================================================*/
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-angular-pivotview/styles/material.css';

@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
/*==========================================================================
=> Fonts
==========================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800;900&display=swap');

/*==========================================================================
=> Global Styles
========================================================================== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

p {
  line-height: 1.6;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

a:active,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #eee;

  h2 {
    font-size: 16px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      opacity: 1;

      a {
        font-size: 14px;
        color: #000;
        padding: 15px 10px;
        display: block;

        &.active,
        &:hover {
          color: blue;
        }
      }
    }
  }
}

.main-container {
  max-width: 900px;
  margin: 30px auto;
}

.page-heading {
  font-size: 16px;
  margin-bottom: 20px;
}

.pageNotFound {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
